[Desktop Entry]
Type=Application
Name=ryowalls
GenericName=Wallpaper Manager
Comment=Browse, edit, enhance and set image and live wallpapers with a live rice preview
Exec=flock -n -o /tmp/ryowalls.lock qs -c ryowalls
Terminal=false
Icon=ryowalls
Categories=Utility;Graphics;
Keywords=wallpaper;wallhaven;theme;rice;palette;ryowalls;
