[Desktop Entry]
Type=Application
Name=ryowalls
GenericName=Wallpaper Browser
Comment=Browse wallhaven.cc, preview the rice, set your wallpaper
Exec=flock -n -o /tmp/ryowalls.lock qs -c ryowalls
Terminal=false
Icon=ryowalls
Categories=Utility;Graphics;
Keywords=wallpaper;wallhaven;theme;rice;palette;ryowalls;
