shell/**/*.png binary
shell/**/*.jpg binary
shell/**/*.jpeg binary
shell/**/*.gif binary
shell/**/*.webp binary
shell/**/*.ico binary
shell/**/*.bmp binary
shell/**/*.tiff binary
shell/**/*.ttf binary
shell/**/*.otf binary
shell/**/*.woff binary
shell/**/*.woff2 binary
shell/**/*.eot binary
shell/**/*.mp3 binary
shell/**/*.mp4 binary
shell/**/*.webm binary
shell/**/*.ogg binary
shell/**/*.wav binary
shell/**/*.flac binary
shell/**/*.zip binary
shell/**/*.gz binary
shell/**/*.tar binary
shell/**/*.xz binary
shell/**/*.zst binary
shell/**/*.pdf binary
shell/**/*.qmlc binary
shell/**/*.jsc binary
