[Desktop Entry]
Type=Application
Name=ryovm
GenericName=Virtual Machine Manager
Comment=Build, run and manage QEMU virtual machines
Exec=flock -n -o /tmp/ryovm.lock qs -c ryovm
Terminal=false
Icon=ryovm
Categories=System;Utility;
Keywords=vm;virtual machine;qemu;quickemu;windows;linux;android;emulator;
