[Desktop Entry]
Name=ii-pixel
Comment=Ryoku SDDM login screen — Material You dynamic colors
Type=Service
X-KDE-PluginInfo-Author=Ryoku project
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=ii-pixel
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://github.com/neur0map/ryoku-arch
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-ServiceTypes=SDDM/Theme
