[SddmGreeterTheme]
Name=ii-pixel
Description=Ryoku SDDM login screen — Material You dynamic colors
Author=Ryoku project
Type=sddm-theme
Version=1.0
Website=https://github.com/neur0map/ryoku-arch
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=ii-pixel
Theme-API=2.0
QtVersion=6
