pkgbase = quickshell-ryoku
	pkgdesc = Flexible toolkit for making desktop shells with QtQuick (Ryoku fix-extension-uaf patch applied)
	pkgver = 0.2.1
	pkgrel = 1
	url = https://git.outfoxxed.me/quickshell/quickshell
	arch = x86_64
	arch = aarch64
	license = LGPL-3.0-only
	makedepends = cli11
	makedepends = cmake
	makedepends = ninja
	makedepends = qt6-shadertools
	makedepends = spirv-tools
	makedepends = wayland-protocols
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = jemalloc
	depends = libjemalloc.so
	depends = libdrm
	depends = libglvnd
	depends = libEGL.so
	depends = libOpenGL.so
	depends = libpipewire
	depends = libpipewire-0.3.so
	depends = libxcb
	depends = mesa
	depends = pam
	depends = libpam.so
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-svg
	depends = qt6-wayland
	depends = wayland
	depends = libwayland-client.so
	provides = quickshell=0.2.1-1
	conflicts = quickshell
	source = quickshell-0.2.1.tar.gz::https://git.outfoxxed.me/quickshell/quickshell/archive/v0.2.1.tar.gz
	source = fix-extension-uaf.patch
	sha256sums = d815c5f99f4a0a28545ffaa90464420c773b7c0ab62f713d9d8735a8e7282ca7
	sha256sums = abf0891a1270e6df6762facef881c8572176f91d700af5ade57ba20d88547155

pkgname = quickshell-ryoku
